.order{
    display: flex;
    padding: 15px;
}
.order p{
    margin: 0px 20px 0 20px;
}

@media screen and (max-width: 480px) {
    .order{
        display: flex;
        padding: 15px;
    }
    .order p{
        margin: 0px;
    }
  }